<div class="footer-content">
    <div class="footer-row">
        <div class="sprite-contact-cta"></div>
        <div class="footer-tab follow-us">
            <h3>FOLLOW US</h3>
            <div class="footer-share">
                <button pButton 
                        icon="pi pi-twitter" 
                        class="p-button-rounded p-button-outlined social-button"
                        (click)="openSocialLink('https://twitter.com/netzica')">
                </button>
                
                <button pButton 
                        icon="pi pi-github" 
                        class="p-button-rounded p-button-outlined social-button"
                        (click)="openSocialLink('https://github.com/netzica')">
                </button>
                
                <button pButton 
                        icon="pi pi-instagram" 
                        class="p-button-rounded p-button-outlined social-button"
                        (click)="openSocialLink('https://www.instagram.com/netzica/')">
                </button>
                
                <button pButton 
                        icon="pi pi-linkedin" 
                        class="p-button-rounded p-button-outlined social-button"
                        (click)="openSocialLink('https://www.linkedin.com/company/netzica')">
                </button>
            </div>
        </div>
    </div>
    <div id="legal">© Netzica, GmbH - Making online stuff since diapers.</div>
</div>

<div class="footer-bg-container">
    <div class="footer-bg one"></div>
</div>