<div class="branded-banner" 
     [style.background]="backgroundStyle">
  <div class="branded-banner-content">
    <div class="branded-banner-header">
      <div class="branded-banner-title">
        Discover&nbsp;<span class="branded-banner-highlight">Elegancy</span>
      </div>
    </div>
    
    <div class="branded-banner-description">
      Blandit massa enim nec dui nunc mattis. Nisi lacus sed viverra tellus in hac habitasse platea. 
      Accumsan tortor posuere ac ut consequat semper viverra nam.
    </div>
    
    <div class="branded-banner-actions">
      <button pButton 
              label="Learn More" 
              class="p-button-raised p-button-rounded">
      </button>
      <button pButton 
              label="Live Demo" 
              class="p-button-raised p-button-rounded p-button-outlined">
      </button>
    </div>
  </div>
</div>
