<div class="bg-surface-50 dark:bg-surface-950 px-6 py-20 md:px-12 lg:px-20" id="pricing">
    <div class="flex flex-col gap-4 items-center justify-center mb-12">
        <div class="text-primary text-xl leading-tight text-green-500">
            Save up to 25% today.!
        </div>
        <div class="text-surface-900 dark:text-surface-0 font-bold text-4xl lg:text-5xl text-center leading-tight">Pricing Plans</div>
        <div class="text-surface-500 dark:text-surface-400 text-lg text-center leading-normal">Choose the plan that best fits your needs and start your journey to success.</div>
        @if(isYearly()) {
            <p-badge value="Save 25%" severity="success" class="ml-2"></p-badge>
        }
        <!-- Pricing Toggle Switch -->
        <div class="flex items-center gap-4">
            <span class="text-surface-600 dark:text-surface-300 font-medium" [class.text-primary-600]="!isYearly()">Monthly</span>
            <p-toggleswitch [ngModel]="isYearly()" (ngModelChange)="togglePricing()" />
            <span class="text-surface-600 dark:text-surface-300 font-medium" [class.text-primary-600]="isYearly()">Yearly</span>
           
        </div>
       
    </div>

    <div class="flex lg:flex-row flex-col gap-8 max-w-7xl mx-auto">
        @for (plan of pricingPlans; track plan.name) {
            <div class="w-full flex-1 p-8 flex rounded-2xl flex-col bg-surface-0 dark:bg-surface-800 shadow-sm gap-6">
                <div class="flex flex-col gap-2">
                    <h4 class="text-surface-900 dark:text-surface-0 font-medium text-xl leading-tight">{{ plan.name }}</h4>
                    <p class="text-surface-500 dark:text-surface-400 leading-normal">{{ plan.description }}</p>
                </div>

                <div class="w-full h-px bg-surface-200 dark:bg-surface-700"></div>
                <div class="flex items-center gap-2">
                    <span class="font-bold text-3xl text-surface-900 dark:text-surface-0 leading-tight">${{ getCurrentPrice(plan) }}</span>
                    <span class="font-medium text-surface-500 dark:text-surface-400 leading-tight">{{ getPricePeriod() }}</span>
                </div>
                <div class="w-full h-px bg-surface-200 dark:bg-surface-600"></div>
                <ul class="list-none flex flex-col gap-4 flex-1">
                    @for (feature of plan.features; track feature) {
                        <li class="flex items-center gap-2">
                            <i class="pi pi-check-circle text-lg! text-green-500"></i>
                            <span class="text-surface-800 dark:text-surface-100 leading-tight">{{ feature }}</span>
                        </li>
                    }
                </ul>
                <button pButton [rounded]="true" class="w-full">
                    <span pButtonLabel>Buy Now</span>
                </button>
            </div>
        }
    </div>
</div>