@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer components {
  .p-datatable-mask {
    @apply backdrop-blur-sm bg-surface-0/20 dark:bg-surface-900/20;
  }

  .p-datatable-loading-icon {
    @apply text-primary;
  }
}

@layer utilities {
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .animate-infinite-scroll {
    animation: infinite-scroll 40s linear infinite;
  }
}